@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0B2D72;
  --secondary: #0992C2;
  --accent: #0AC4E0;
  --cream: #F6E7BC;
}

body {
  color: var(--primary);
  background: white;
}